NODE_ENV=development
APP_PORT=3000
APP_NAME="NestJS API"
API_PREFIX=api
APP_FALLBACK_LANGUAGE=en
FRONTEND_DOMAIN=http://localhost:3000
BACKEND_DOMAIN=http://localhost:3000

DEBUG=*

DATABASE_TYPE=postgres
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USERNAME=root
DATABASE_PASSWORD=secret
DATABASE_NAME=api
DATABASE_SYNCHRONIZE=true
DATABASE_MAX_CONNECTIONS=100
DATABASE_SSL_ENABLED=false
DATABASE_REJECT_UNAUTHORIZED=false
DATABASE_CA=
DATABASE_KEY=
DATABASE_CERT=

REDIS_HOST=localhost
REDIS_PASSWORD=super_secret
REDIS_PORT=6379

REDIS_COMMANDER_PORT=6349

# CHAT_DATABASE_TYPE=redis
# CHAT_DATABASE_HOST=localhost
# CHAT_DATABASE_PORT=6379
# CHAT_DATABASE_USERNAME=root
# CHAT_DATABASE_PASSWORD=secret
# CHAT_DATABASE_NAME=api
# CHAT_DATABASE_SYNCHRONIZE=false
# CHAT_DATABASE_MAX_CONNECTIONS=100
# CHAT_DATABASE_SSL_ENABLED=false
# CHAT_DATABASE_REJECT_UNAUTHORIZED=false

# Support "local", "s3"
FILE_DRIVER=s3
ACCESS_KEY_ID=
SECRET_ACCESS_KEY=
AWS_S3_REGION=e
AWS_DEFAULT_S3_BUCKET=

MAIL_HOST=localhost
MAIL_PORT=1025
MAIL_USER=
MAIL_PASSWORD=
MAIL_IGNORE_TLS=true
MAIL_SECURE=false
MAIL_REQUIRE_TLS=false
MAIL_DEFAULT_EMAIL=noreply@example.com
MAIL_DEFAULT_NAME=Api
MAIL_CLIENT_PORT=1080

OPENAI_API_KEY=
DISCORD_APP_ID=
DISCORD_APP_KEY=
DISCORD_CHANNEL_LINK=
DISCORD_USER_LOGIN=
DISCORD_USER_PASSWORD=
TELEGRAM_APP_KEY=
TELEGRAM_CHAT_KEY=

AUTH_JWT_SECRET=secret
AUTH_JWT_TOKEN_EXPIRES_IN=1d

FACEBOOK_APP_ID=
FACEBOOK_APP_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

APPLE_APP_AUDIENCE=[]

TWITTER_CONSUMER_KEY=
TWITTER_CONSUMER_SECRET=

WORKER_HOST=redis://localhost:6379/1
